workflows/Customer Support WorkFlow With WhatsApp Chat.json
{
  "name": "RAG AI WorkFlow With WhatsApp Chat",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "Role: You are a Customer Support AI Assistant for an online retail store. Channel: WhatsApp Tone: Clear, friendly, professional, and human-like. Objective: Deliver fast, accurate, and engaging support by intelligently using available data sources and tools.\n\n🔍 Core Capabilities\nYou are equipped with four intelligent modules to handle customer requests:\n\n1️⃣ FAQ Assistant\nUse this module to answer customer questions about:\n\nProducts and features\n\nStore policies (returns, shipping, warranties)\n\nGeneral support topics\n\nAlways respond with clarity and empathy. If the question is unclear, ask politely for more details.\n\n2️⃣ Product Description Generator\nProvide engaging, accurate product descriptions using a clean, emoji-based layout. Format Example: 🎧 Wireless Earbuds – Enjoy crystal-clear sound and noise cancellation. 🖥️ 4K Monitor – Stunning visuals with ultra-high resolution for work and play.\n\nDescriptions should be:\n\nEasy to read on mobile\n\nVisually appealing\n\nInformative and persuasive\n\n3️⃣ Pricing Retriever\nAccess real-time pricing data and present it in a WhatsApp-friendly format. Format Example: 💰 Product Price List 🎧 Wireless Earbuds — $10 🔊 Bluetooth Speaker — $55\n\nAlways confirm prices before sharing. If multiple products are requested, list them neatly.\n\n4️⃣ Order Processor\nWhen a customer wants to place an order, share the following WhatsApp-friendly form:\n\nCode\n🧾 Order Form  \n1️⃣ Full Name:  \n2️⃣ Product Name:  \n3️⃣ Quantity:  \n4️⃣ Delivery Address:  \n5️⃣ Contact Number:  \n6️⃣ Email Address:  \n7️⃣ Preferred Payment Method: (Cash on Delivery / Online) \nOnce the form is completed, record the order with the current date and confirm receipt.\n\n💬 Response Intelligence\nYour replies must be:\n\nShort, clear, and optimized for WhatsApp\n\nVisually structured using emojis and spacing\n\nFree of technical jargon or tool references\n\nWarm, helpful, and customer-centric\n\nDo not use:\n\nMarkdown symbols (*, _, etc.)\n\nOverly formal or robotic language\n\nUnconfirmed data or assumptions\n\nAlways:\n\nConfirm customer intent before taking action\n\nGuide the customer step-by-step\n\nMake them feel supported, valued, and understood\n\n🧠 Smart Behavior Logic\nUse memory and context to personalize responses\n\nPrioritize relevance, speed, and clarity\n\nHandle multiple requests in one message when needed\n\nIf a request is unclear, ask a friendly follow-up question\n\nEscalate only when necessary and with clear instructions"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        -704
      ],
      "id": "24720fc2-e924-431d-a0fc-a3a0528b1323",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        -480
      ],
      "id": "6b438ad1-83eb-4ca3-b870-881c1d254870",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "23sjBcaDFSyKNjDo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1-GLLgV6lHXaSnDQQ1sZBJybGbNOAu-N47M8OeYZAh9g"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        224,
        -480
      ],
      "id": "b1a7591b-290f-492f-be67-0ec05a3074cf",
      "name": "Product FAQs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YTIHHHmdPtCpxHSu",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1GrKnGMPZLsS2mk5WORDJxTvk0_ubfBD_sHcxvW3Pong"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        352,
        -480
      ],
      "id": "f19a2103-fffa-41b3-90c3-d4a096953fbc",
      "name": "Product Dec",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YTIHHHmdPtCpxHSu",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1o0K8B6ULtK-2CFO3TVhpgHet_XeFEPOl3M-s4FreLgo",
          "mode": "list",
          "cachedResultName": "Product Pricing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o0K8B6ULtK-2CFO3TVhpgHet_XeFEPOl3M-s4FreLgo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o0K8B6ULtK-2CFO3TVhpgHet_XeFEPOl3M-s4FreLgo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        480,
        -480
      ],
      "id": "14caa881-1150-4227-8717-b16a0e1591dd",
      "name": "Pricing",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IpHhezND4VnV4pI8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.messages[0].text.body }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        96,
        -480
      ],
      "id": "5cf29074-683f-4e97-84c7-ef348c831640",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "869302516256072",
        "recipientPhoneNumber": "966508130494",
        "textBody": "={{ $json.output }}",
        "additionalFields": {
          "previewUrl": false
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        624,
        -704
      ],
      "id": "d389e5c8-bd79-441c-af43-f4a0363bf02f",
      "name": "Send message",
      "webhookId": "b916e8a0-a290-4c31-bcb6-59fb64eaf7e0",
      "credentials": {
        "whatsAppApi": {
          "id": "OmOhXVpBxYSmtg8N",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1n7uFkzuxM_VrH7_95E-Avd5mgBSImB4fzb8vLLvJWFA",
          "mode": "list",
          "cachedResultName": "order sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n7uFkzuxM_VrH7_95E-Avd5mgBSImB4fzb8vLLvJWFA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n7uFkzuxM_VrH7_95E-Avd5mgBSImB4fzb8vLLvJWFA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Customer_Name', ``, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
            "Phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', ``, 'string') }}",
            "Product": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Product', ``, 'string') }}",
            "Status": "Pending",
            "Quantity": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quantity', ``, 'string') }}",
            "Shipping address": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Shipping_address', ``, 'string') }}",
            "Cash Mathod": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cash_Mathod', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shipping address",
              "displayName": "Shipping address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cash Mathod",
              "displayName": "Cash Mathod",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        608,
        -480
      ],
      "id": "e324c999-5478-4466-aa81-5b65ba1f489f",
      "name": "Order Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IpHhezND4VnV4pI8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        -704
      ],
      "id": "703cfac2-cfc3-4a44-8327-4da0d638d662",
      "name": "WhatsApp Trigger",
      "webhookId": "67f9c63a-7471-476d-a06b-a59081814930",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "4TWj6TAMFgBOiCNw",
          "name": "WhatsApp OAuth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Product FAQs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Product Dec": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pricing": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Order Sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4b42ed80-04ee-4758-b0d3-e117d1fc1c46",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "506f2378bd4cb99bec6af0aec53cb90bf90e991682108792250d6592ee52aaa4"
  },
  "id": "rwcTMJq1f3DLUxCa",
  "tags": []
}